@use '../utils/mixins';

.header {
    position: relative;
    background-image: url('@assets/images/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mixins.respond-to(laptop) {
        background-image: url('@assets/images/header-laptop.jpg');
    }

    @include mixins.respond-to(mobile) {
        position: sticky;
        top: 0;
        z-index: 40;
        background-image: url('@assets/images/header-mobile.jpg');
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 60%;
        background: linear-gradient(
            to top,
            var(--color-light-transparent) 60%,
            transparent 100%
        );
    }
}

.game {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mixins.respond-to(laptop) {
        display: none;
    }

    @media screen and (pointer: coarse) {
        display: none;
    }

    &__description {
        color: var(--color-white);
        font-family: var(--ff-title);
        font-size: var(--fs-medium-big);
        font-weight: bold;
        text-align: center;
    }

    &__button {
        position: relative;
        z-index: 3;
        width: 8rem;
        height: 8rem;
        background-image: url('@assets/images/mouse-house.png');
        background-size: contain;
        background-repeat: no-repeat;

        @include mixins.respond-to(laptop) {
            width: 6rem;
            height: 6rem;
        }
    }
}

.cat-container {
    height: 8rem;
    position: relative;
    z-index: 5;

    &__img_banana {
        position: absolute;
        inset: 0;
        height: 8rem;
    }

    &__img_catch {
        position: absolute;
        inset: 0;
        z-index: 2;
        width: 10rem;
    }
}

.pagination {
    position: relative;
    z-index: 2;
    padding: 1rem 0;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--color-white);

        @include mixins.respond-to(mobile) {
            gap: 0;
        }
    }

    &__item {
        position: relative;
        min-width: 6rem;
        border-radius: var(--border-radius);
        font-weight: bold;
        text-align: center;
        text-wrap: nowrap;
        box-shadow: var(--drop-shadow-white);

        @include mixins.respond-to(mobile) {
            min-width: 3.5rem;
        }

        &_current {
            padding: 1rem;
            font-size: calc(1.1 * var(--fs-medium));
            background-color: var(--color-primary);
            cursor: default;
        }

        &_next,
        &_prev {
            padding: 0.5rem;
            font-size: calc(0.8 * var(--fs-medium));
            background: linear-gradient(
                90deg,
                var(--color-primary) 0%,
                var(--color-primary-lighter) 70%
            );
            @include mixins.transitions();
            transition-property: transform;

            @include mixins.respond-to(mobile) {
                display: none;
            }
        }

        &_next {
            transform: perspective(12rem) rotateY(30deg) translateZ(2rem);

            @include mixins.interactive() {
                transform: perspective(12rem) rotateY(30deg) translateY(-3px)
                    translateZ(2rem);
            }
        }

        &_prev {
            transform: perspective(10rem) rotateY(-30deg) translateZ(2rem);

            @include mixins.interactive() {
                transform: perspective(12rem) rotateY(-30deg) translateY(-3px)
                    translateZ(2rem);
            }
        }
    }

    &__link {
        color: var(--color-white);

        &::after {
            content: '';
            position: absolute;
            inset: 0;
        }
    }

    &__arrow {
        padding: 0.5rem;
        font-size: var(--fs-medium-big);
        color: var(--color-white);

        @include mixins.respond-to(mobile) {
            font-size: var(--fs-big);
        }

        &:disabled {
            color: var(--color-dark-transparent);
        }
    }
}
