@use '../utils/variables';
@use '../utils/mixins';

.header {
    // background-color: var(--color-primary);
    background-image: url('@assets/images/jungle.jpg');
    background-size: 100%;
}

.game {
    @include mixins.flex(null, space-between, center);
    font-family: var(--ff-title);
    font-weight: 400;

    &__rules {
        color: var(--color-white);
        font-size: var(--fs-medium-big);
        font-weight: bold;
    }

    .cat-container {
        position: relative;
        height: 8rem;
        width: 4rem;
        z-index: 5;

        &__cat-banana__img {
            @include mixins.abs();

            height: 8rem;
            width: 4rem;
        }

        &__cat-catch__img {
            @include mixins.abs();
            width: 4rem;
            height: 4rem;
            background-color: azure;
            z-index: 2;
        }
    }

    .house {
        position: relative;
        z-index: 3;
        width: 4rem;
        height: 4rem;
        background-color: azure;
    }
}

.pagination {
    &-bg {
        padding: 1rem 0;
        background-color: var(--color-light-transparent);
    }

    @include mixins.flex(null, center, center);

    &__list {
        list-style: none;
        @include mixins.flex(null, center, center);

        color: var(--color-white);
    }

    &__item {
        font-weight: bold;

        a {
            color: var(--color-white);
        }

        &_current {
            padding: 1rem;
            background-color: var(--color-primary);
        }

        &_next {
            padding: 0.5rem;
            background-color: var(--color-primary-lighter);
            transform: perspective(12rem) rotateY(30deg) translateZ(2rem);
        }

        &_prev {
            padding: 0.5rem;
            background-color: var(--color-primary-lighter);
            transform: perspective(10rem) rotateY(-30deg) translateZ(2rem);
        }
    }

    &__arrow {
        font-size: var(--fs-medium-big);
        color: var(--color-white);

        &:disabled {
            color: var(--color-white-transparent);
        }
    }
}
