@use '../utils/variables';
@use '../utils/mixins';

.header {
    background-image: url('@assets/images/header.png');
    background-size: 100%;
}

.game {
    @include mixins.flex(null, space-between, center);
    font-family: var(--ff-title);
    font-weight: 400;

    &__rules {
        color: var(--color-white);
        font-size: var(--fs-medium-big);
        font-weight: bold;
    }

    .cat-container {
        position: relative;
        height: 8rem;
        width: 4rem;
        z-index: 5;

        &__cat-banana__img {
            @include mixins.abs();

            height: 8rem;
            width: 4rem;
        }

        &__cat-catch__img {
            @include mixins.abs();
            width: 10rem;

            z-index: 2;
        }
    }

    .house {
        position: relative;
        z-index: 3;
        width: 8rem;
        height: 8rem;
        background-image: url('@assets/images/mouse-house.png');
        background-size: contain;
    }
}

.pagination {
    &-bg {
        padding: 1rem 0;
        background-color: var(--color-light-transparent);
        box-shadow: 0rem 0rem 1.5rem 1.5rem var(--color-light-transparent);
    }

    @include mixins.flex(null, center, center);

    &__list {
        list-style: none;
        @include mixins.flex(null, center, center);

        color: var(--color-white);
    }

    &__item {
        border-radius: var(--border-radius);
        box-shadow: var(--drop-shadow-white);
        font-weight: bold;

        a {
            color: var(--color-white);
        }

        &_current {
            padding: 1rem;
            font-size: calc(1.1 * var(--fs-medium));
            background-color: var(--color-primary);
        }

        &_next {
            padding: 0.5rem;
            font-size: calc(0.8 * var(--fs-medium));
            background: linear-gradient(
                90deg,
                var(--color-primary) 0%,
                var(--color-primary-lighter) 30%
            );
            transform: perspective(12rem) rotateY(30deg) translateZ(2rem);
        }

        &_prev {
            padding: 0.5rem;
            font-size: calc(0.8 * var(--fs-medium));
            background: linear-gradient(
                90deg,
                var(--color-primary-lighter) 0%,
                var(--color-primary) 70%
            );
            transform: perspective(10rem) rotateY(-30deg) translateZ(2rem);
        }
    }

    &__arrow {
        font-size: var(--fs-medium-big);
        color: var(--color-white);

        &:disabled {
            color: var(--color-dark-transparent);
        }
    }
}
