@use '../utils/mixins';

#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr 8rem;

    &:has(.error) {
        grid-template-rows: 100%;
    }

    @include mixins.respond-to(laptop) {
        grid-template-rows: auto 1fr 6rem;
    }

    @include mixins.respond-to(mobile) {
        grid-template-rows: auto 1fr 4rem;
    }
}

.wrapper {
    max-width: calc(100vw - 16rem);
    margin: 0 auto;

    @media screen and (min-width: 1920px) {
        max-width: 1600px;
    }

    @include mixins.respond-to(desktop) {
        max-width: calc(100vw - 10rem);
    }

    @include mixins.respond-to(laptop) {
        max-width: calc(100vw - 6rem);
    }

    @include mixins.respond-to(mobile) {
        max-width: calc(100vw - 4rem);
    }
}
