@use '../utils/mixins';

.cat-speech {
    width: 18rem;
    height: 18rem;

    @include mixins.flex(column, center, center);

    font-size: var(--fs-medium);

    background-size: contain;
    background-repeat: no-repeat;

    &_hr,
    &_skills {
        padding: 2rem 4rem 6rem 6rem;

        background-image: url('@assets/icons/talking-cloud-left.png');
    }

    &_me {
        padding: 2rem 4rem 6rem 4rem;

        background-image: url('@assets/icons/talking-cloud-right.png');

        &__certificate {
            width: 70%;
        }
    }

    &_skills {
        position: absolute;
        top: 3rem;
        left: 55%;
        font-weight: bold;
        font-size: var(--fs-medium-big);
    }
}
