@use '../utils/mixins';

.swiper__overlay {
    position: fixed;
    inset: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('@assets/images/swiper-certificates.jpg');
    background-size: cover;
    background-position: left bottom;
}

.certificates-swiper {
    cursor: grab;
    background-color: var(--color-light-transparent);
    backdrop-filter: blur(5px);

    @include mixins.respond-to(laptop) {
        width: 90vh !important;
        transform: rotate(90deg);
    }
}

.certificates-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    @include mixins.respond-to(laptop) {
        height: 100vw;
    }

    &__img {
        width: 70%;
        height: auto;

        @include mixins.respond-to(desktop) {
            width: 80%;
        }

        @include mixins.respond-to(tablet) {
            width: auto;
            height: auto;
            max-width: 70%;
            max-height: 80%;
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    padding: 0 2rem;
    color: var(--color-dark-s);
}

.swiper-button-prev::after {
    content: '❮';
}

.swiper-button-next::after {
    content: '❯';
}

.swiper-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 10;
    width: 4rem;
    height: 4rem;
    background-image: url('@assets/icons/cross.png');
    background-size: contain;
    background-position: center;

    @include mixins.respond-to(mobile) {
        top: 1rem;
        right: 1rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}

.portfolio-swiper {
    --swiper-navigation-sides-offset: 2rem;
    min-height: 100%;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    cursor: grab;

    @include mixins.respond-to(laptop) {
        --swiper-navigation-sides-offset: 10px;
    }

    @include mixins.respond-to(mobile) {
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    }

    &__parallax-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 150%;
        height: 100%;
        background-image: url('@assets/images/swiper-portfolio.jpg');
        background-size: cover;
        background-position: center;

        @include mixins.respond-to(tablet) {
            background-image: url('@assets/images/swiper-portfolio-tablet.jpg');
            background-position: left;
        }
    }
}

.portfolio-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    &__wrapper {
        height: 100%;
        backdrop-filter: blur(5px);
        overflow: hidden;

        @include mixins.respond-to(desktop) {
            width: 80vw;
        }

        @include mixins.respond-to(mobile) {
            width: 100%;
        }
    }
}
