@use '../utils/mixins';

.swiper__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    @include mixins.flex(null, center, center);

    background-image: url('@assets/images/swiper-certificates.png');
    background-size: contain;
}
.certificates-swiper {
    background-color: var(--color-light-transparent);
}
.certificates-slide {
    @include mixins.flex(null, center, center);
    height: 100vh;
    width: fit-content;

    &__img {
        width: 70%;
    }
}

.swiper-button-prev,
.swiper-button-next {
    padding: 0 2rem;
    color: var(--color-white);
    text-shadow: var(--text-shadow-white);
}

.portfolio-swiper {
    height: calc(100vh - 5rem);
    padding: 2rem 0;

    .parallax-bg {
        width: 150%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;

        background-image: url('@assets/images/swiper-portfolio.png');
        -webkit-background-size: contain;
        background-size: cover;
        background-position: center;
    }
}

.portfolio-slide {
    &__container {
        @include mixins.flex(null, center, center);
    }

    width: 80%;
    height: 90%;
    border-radius: var(--border-radius);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;

    color: var(--color-white);

    background-color: var(--color-dark-transparent);

    .img-container {
        @include mixins.flex(null, center, center);

        &_inner {
            position: relative;
        }

        .portfolio-slide__img {
            width: 25rem;
            height: 21rem;

            position: absolute;
        }
    }

    &__content {
        padding: 2rem;

        @include mixins.flex(column, flex-start, flex-start);
        gap: 1rem;

        font-weight: bold;
        background-color: var(--color-dark-transparent-m);
        box-shadow: -2rem 0.7rem 3rem 2rem var(--color-dark-transparent-m);
    }

    &__name {
        font-family: var(--ff-title);
        font-size: var(--fs-medium-big);
        text-transform: uppercase;
    }

    &__type {
        font-family: var(--ff-title);
        font-size: var(--fs-medium-big);
        color: var(--color-light);
    }

    &__stack {
        font-size: var(--fs-medium);
    }

    &__link,
    &__description {
        font-size: var(--fs-medium-small);
        color: var(--color-light);
        font-family: var(--ff-text);
        text-align: justify;
    }
}
