@use '../utils/mixins';

.swiper__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    width: 100vw;
    height: 100dvh;

    @include mixins.flex(null, center, center);

    background-image: url('@assets/images/swiper-certificates.jpg');
    background-size: cover;
    background-position: left bottom;
}

.certificates-swiper {
    cursor: grab;
    background-color: var(--color-light-transparent);

    @include mixins.respond-to(laptop) {
        width: 90vh !important;
        transform: rotate(90deg);
    }
}

.certificates-slide {
    position: relative;

    @include mixins.flex(null, center, center);
    height: 100vh;
    width: fit-content;

    @include mixins.respond-to(laptop) {
        height: 100vw;
    }

    &__img {
        width: 70%;

        @include mixins.respond-to(desktop) {
            width: 80%;
        }

        @include mixins.respond-to(tablet) {
            width: auto;
            height: 80%;
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    padding: 0 2rem;

    color: var(--color-dark-s);
}

.swiper-button-prev::after {
    content: '❮';
}

.swiper-button-next::after {
    content: '❯';
}

.swiper-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 10;

    width: 4rem;
    height: 4rem;

    cursor: pointer;

    background-image: url('@assets/icons/cross.png');
    background-size: contain;
    background-position: center;

    @include mixins.respond-to(mobile) {
        top: 1rem;
        right: 1rem;

        width: 2.5rem;
        height: 2.5rem;
    }
}

.portfolio-swiper {
    height: calc(100vh - 5rem);
    padding: 2rem 0;

    cursor: grab;

    @include mixins.respond-to(desktop) {
        height: auto;
    }

    .parallax-bg {
        @include mixins.abs();

        width: 150%;
        height: 100%;

        background-image: url('@assets/images/swiper-portfolio.jpg');
        -webkit-background-size: contain;
        background-size: cover;
        background-position: center;

        @include mixins.respond-to(tablet) {
            background-image: url('@assets/images/swiper-portfolio-tablet.jpg');
            background-position: left;
        }
        @include mixins.respond-to(mobile) {
            background-image: url('@assets/images/swiper-portfolio-mobile.jpg');
        }
    }
}

.portfolio-slide {
    &__container {
        @include mixins.flex(null, center, center);
    }

    width: 80%;
    height: 90%;
    border-radius: var(--border-radius);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;

    color: var(--color-white);

    background-color: var(--color-dark-transparent);

    @include mixins.respond-to(desktop) {
        grid-template-columns: 100%;
    }

    @include mixins.respond-to(mobile) {
        width: 90%;
    }

    .img-container {
        padding: 2rem;

        @include mixins.flex(null, center, center);

        transition: var(--transition);

        @include mixins.respond-to(tablet) {
            padding: 1rem;
        }

        &_inner {
            position: relative;
        }

        &__link {
            transition: var(--transition);
        }

        .portfolio-slide__img {
            position: absolute;

            width: 25rem;
            height: 21rem;
            border-radius: var(--border-radius);

            &:hover {
                z-index: 2;
                transform: scale(1.2) !important;
            }

            @include mixins.respond-to(tablet) {
                width: calc(100vw * 0.65);
                height: calc(100vw * 0.65 * 0.8);
            }
        }
    }

    &__content {
        padding: 2rem;

        @include mixins.flex(column, flex-start, flex-start);
        gap: 1rem;

        font-weight: bold;
        background-color: var(--color-dark-transparent-m);
        box-shadow: -2rem 0.7rem 3rem 2rem var(--color-dark-transparent-m);

        @include mixins.respond-to(desktop) {
            margin-top: -3rem;
            box-shadow: 0.7rem -2rem 3rem 2rem var(--color-dark-transparent-m);
        }
    }

    &__name {
        font-family: var(--ff-title);
        font-size: var(--fs-medium-big);
        text-transform: uppercase;
    }

    &__type {
        font-family: var(--ff-title);
        font-size: var(--fs-medium-big);
        color: var(--color-light);
    }

    &__stack {
        font-size: var(--fs-medium);
    }

    &__link,
    &__description {
        font-size: var(--fs-medium-small);
        color: var(--color-light);
        font-family: var(--ff-text);
        text-align: justify;
    }
}
