@use '../utils/mixins';

.personal-info {
    &-bg {
        padding: 5rem 0;
        overflow-x: hidden;
        background-image: url('@assets/images/background-about.png');
        background-size: cover;
        background-position: right top;

        @include mixins.respond-to(desktop) {
            background-position: center top;
        }

        @include mixins.respond-to(laptop) {
            background-image: url('@assets/images/background-about-laptop.png');
            background-position: right bottom;
        }

        @include mixins.respond-to(tablet) {
            background-position: center bottom;
        }
    }

    margin-bottom: 3rem;

    @include mixins.flex(null, flex-start, flex-start);
    gap: 5rem;

    @include mixins.respond-to(laptop) {
        @include mixins.flex(column, flex-start, flex-start);
    }
}

.photo-container {
    padding: 3rem 0;

    @include mixins.flex(null, center, center);
    flex-basis: 35%;

    transform: rotate(-5deg);

    background-image: url('@assets/images/background-photo.png');
    background-size: cover;
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow-dark);

    @include mixins.respond-to(laptop) {
        align-self: center;
        margin-bottom: 3rem;
    }

    @include mixins.respond-to(tablet) {
        width: 65%;
    }

    @include mixins.respond-to(mobile) {
        width: 80%;
        padding: 1rem 0;
    }

    &_inner {
        @include mixins.flex(null, center, center);

        transform: rotate(25deg);
        overflow-x: hidden;

        border-radius: var(--border-radius);
        background-color: var(--color-light);
        box-shadow: var(--drop-shadow-dark);

        @include mixins.respond-to(tablet) {
            width: 100%;
        }
        @include mixins.respond-to(mobile) {
            width: 110%;
        }
    }

    .photo {
        width: 70%;
        padding: 3rem 0;

        transform: rotate(-20deg) translate(-20px, -30px);

        @include mixins.respond-to(tablet) {
            width: 80%;
            padding: 2rem 0;
        }
    }
}

.contacts {
    flex-grow: 1;

    font-size: var(--fs-medium);
    color: var(--color-dark-m);

    @include mixins.respond-to(laptop) {
        width: 100%;
    }

    .greeting {
        font-family: var(--ff-title);
        font-size: var(--fs-big);
        margin-bottom: 2rem;

        @include mixins.respond-to(laptop) {
            margin-left: 20%;
        }

        @include mixins.respond-to(mobile) {
            margin-left: 0;
            text-align: center;
        }
    }

    &__h2 {
        margin-bottom: 1rem;
    }

    &__block {
        margin-left: 3rem;

        color: var(--color-dark-s);

        @include mixins.respond-to(laptop) {
            margin-left: 10%;
        }

        @include mixins.respond-to(mobile) {
            margin-left: 0;
            text-align: center;
        }
    }

    &__list {
        @include mixins.flex(column, flex-start, flex-start);

        @include mixins.respond-to(tablet) {
            gap: 0.5rem;
        }

        &_professional {
            margin-left: 7rem;
            @include mixins.flex(column, flex-start, flex-start);

            @include mixins.respond-to(laptop) {
                margin-left: 0;
            }

            @include mixins.respond-to(tablet) {
                gap: 0.5rem;
            }
        }
    }

    &__item {
        @include mixins.flex(null, flex-start, center);

        font-size: var(--fs-medium-big);
        font-weight: bold;

        &__link {
            color: var(--color-dark-s);
        }

        &__icon {
            width: 4rem;
            height: 4rem;

            @include mixins.respond-to(laptop) {
                width: 3rem;
                height: 3rem;
            }

            @include mixins.respond-to(mobile) {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

.description {
    padding: 5rem 0;

    color: var(--color-dark-m);
    font-size: var(--fs-medium-big);
    font-weight: bold;
    text-align: justify;

    background-color: var(--color-primary);

    &__h2 {
        margin-bottom: 1rem;

        font-family: var(--ff-title);
        text-align: left;
    }
}
