@use '../utils/mixins';

.bye-bye {
    &-bg {
        background-image: url('@assets/images/background-bye-bye.jpg');
        background-size: cover;
    }
    margin: 5rem;
    @include mixins.flex(column, center, center);
    gap: 2rem;

    text-align: center;

    @include mixins.respond-to(laptop) {
        margin: 3rem;
    }

    @include mixins.respond-to(mobile) {
        margin: 2rem 0;
    }

    &__figure {
        width: 60%;
        overflow: hidden;
        border: 4rem solid var(--color-primary-lighter);
        border-radius: var(--border-radius);

        @include mixins.respond-to(laptop) {
            width: 80%;

            border: 3rem solid var(--color-primary-lighter);
        }

        @include mixins.respond-to(tablet) {
            width: 90%;

            border: 2rem solid var(--color-primary-lighter);
        }
    }

    &__img {
        margin-bottom: -0.2rem;
        width: 100%;
        height: 100%;

        transition: var(--transition);

        &:hover {
            transform: scale(2) translateX(15%) translateY(10%);
        }
    }

    &__h1 {
        font-family: var(--ff-title);
        font-size: var(--fs-big);
    }
}
