@use '../utils/mixins';

.education {
    overflow: hidden;
    background-color: var(--color-light);
    background-image: url('@assets/images/background-education.jpg');
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;

    @include mixins.respond-to(desktop) {
        background-position: left -120% top 0;
    }

    @include mixins.respond-to(laptop) {
        background-image: url('@assets/images/background-education-laptop.jpg');
        background-position: left -120% top -5%;
    }

    @include mixins.respond-to(tablet) {
        background-size: 150%;
        background-position: left 100% top 20%;
    }
    @include mixins.respond-to(mobile) {
        background-size: 200%;
        background-position: left 70% top 30%;
    }

    &__wrapper {
        padding: 10rem 0;
        display: flex;
        gap: 1rem;

        @include mixins.respond-to(laptop) {
            padding: 5rem 0;
            flex-direction: column;
            align-items: center;
            gap: 5rem;
        }

        @include mixins.respond-to(mobile) {
            padding: 4rem 0 3rem;
            gap: 3rem;
        }
    }
}

.education-path {
    width: 55%;
    display: grid;
    grid-template-columns: repeat(7, 14.5%);
    grid-template-areas:
        'b1 b1 . . . . .'
        '. . a1 a1 . . .'
        '. . . . b2 b2 .'
        '. . . a2 . . .'
        '. b3 b3 . . . .'
        '. . . a3 a3 . .'
        '. . . . . b4 b4';

    @include mixins.respond-to(desktop) {
        width: 40%;
        grid-template-columns: repeat(4, 25%);
        grid-template-areas:
            'b1 b1 . . '
            '. a1 . . '
            '. . b2 b2'
            '. . a2 .'
            'b3 b3 . .'
            '.  a3 . .'
            '. . b4 b4';
    }

    @include mixins.respond-to(laptop) {
        width: 90%;
        justify-content: center;
        grid-template-columns: repeat(7, 14.5%);
        grid-template-areas:
            'b1 b1 . . . . .'
            '. . a1 a1 . . .'
            '. . . . b2 b2 .'
            '. . . a2 . . .'
            '. b3 b3 . . . .'
            '. . . a3 a3 . .'
            '. . . . . b4 b4';
    }

    @include mixins.respond-to(tablet) {
        width: 100%;
        grid-template-columns: repeat(4, 20%);
        grid-template-areas:
            'b1 b1 . . '
            '. a1 . . '
            '. . b2 b2'
            '. . a2 .'
            'b3 b3 . .'
            '.  a3 . .'
            '. . b4 b4';
    }

    @include mixins.respond-to(mobile) {
        grid-template-columns: repeat(3, 6rem);
        grid-template-areas:
            'b1 b1 . '
            '.  a1 .'
            '. b2 b2 '
            '. a2 .'
            'b3 b3 .'
            '. a3 .'
            '. b4 b4';
    }
}

.education-block {
    position: relative;
    z-index: 3;
    aspect-ratio: 1;
    font-size: var(--fs-medium-small);
    background-color: var(--color-primary-lighter);
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow-white);

    &_inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        border-radius: var(--border-radius);
        color: var(--color-dark-s);
        background-color: var(--color-white);
    }

    &_left {
        transform: rotate(-25deg);

        @include mixins.respond-to(mobile) {
            transform: rotate(-18deg);
        }

        &_inner {
            transform: rotate(25deg);
        }
    }

    &_right {
        transform: rotate(25deg);

        @include mixins.respond-to(mobile) {
            transform: rotate(18deg);
        }

        &_inner {
            transform: rotate(-25deg);
        }
    }

    &#block-1 {
        grid-area: b1;
    }

    &#block-2 {
        grid-area: b2;
    }

    &#block-3 {
        grid-area: b3;
    }

    &#block-4 {
        grid-area: b4;
    }

    &__title {
        margin-bottom: 1rem;
        font-size: var(--fs-medium);
        color: var(--color-dark-m);
    }

    &__subtitle {
        margin-bottom: 0.5rem;
    }
}

.education-arrow {
    height: 1.5rem;
    position: relative;
    z-index: 1;

    @include mixins.respond-to(desktop) {
        height: 2rem;
    }

    @include mixins.respond-to(mobile) {
        height: 5rem;
    }

    &_left {
        transform: scaleX(-1);
    }

    &__img {
        width: 100%;
        height: 7rem;
        transform: translateY(-2rem);

        @include mixins.respond-to(mobile) {
            transform: none;
            height: 100%;
        }
    }

    &#arrow-1 {
        grid-area: a1;
    }

    &#arrow-2 {
        grid-area: a2;
    }

    &#arrow-3 {
        grid-area: a3;
    }
}

.education-cats {
    position: relative;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @include mixins.respond-to(desktop) {
        width: 60%;
    }

    @include mixins.respond-to(laptop) {
        width: 90%;
    }

    @include mixins.respond-to(mobile) {
        width: 100%;
    }

    &__laptop {
        position: relative;
        width: 100%;
        aspect-ratio: 0.75;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-image: url('@assets/images/laptop.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;

        @include mixins.respond-to(mobile) {
            aspect-ratio: 0.5556;
            background-image: url('@assets/images/laptop-mobile.png');
        }
    }

    &__video {
        width: 80%;
        margin-top: 22%;
        margin-left: 5.5%;

        @include mixins.respond-to(mobile) {
            margin-top: 58.5%;
        }
    }

    &__description {
        width: 80%;
        font-family: var(--ff-title);
        font-size: var(--fs-medium);
        color: var(--color-dark-s);
        font-weight: bold;

        @include mixins.respond-to(mobile) {
            width: 100%;
            font-size: var(--fs-medium-small);
        }
    }
}

.cat-speech {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 90%;
    height: 50%;
    padding: 3rem;
    display: flex;

    &:has(.cat-speech__cloud_hr) {
        justify-content: flex-end;
    }

    &__cloud {
        width: 60%;
        height: 100%;
        padding: 0 10% 18% 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        font-size: var(--fs-medium);
        text-align: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include mixins.respond-to(mobile) {
            width: 100%;
            padding: 7% 12% 18% 12%;
        }

        &_hr {
            background-image: url('@assets/icons/talking-cloud-left.png');
        }

        &_me {
            transform: translateX(40%);
            background-image: url('@assets/icons/talking-cloud-right.png');

            @include mixins.respond-to(mobile) {
                transform: none;
            }
        }
    }

    &__certificate {
        width: 60%;
        aspect-ratio: 1.4164;
        margin: 0 auto;
    }
}
