@use '../utils/mixins';

.education {
    &-bg {
        background-color: var(--color-light);
        background-image: url('@assets/images/background-education.jpg');
        background-size: contain;
        background-position: left top;
        background-repeat: no-repeat;
        overflow-x: hidden;

        @include mixins.respond-to(desktop) {
            background-position: left -120% top 0;
        }

        @include mixins.respond-to(laptop) {
            background-image: url('@assets/images/background-education-laptop.jpg');
            background-position: left -120% top -5%;
        }

        @include mixins.respond-to(tablet) {
            background-size: 150%;
            background-position: left 100% top 20%;
        }
        @include mixins.respond-to(mobile) {
            background-size: 200%;
            background-position: left 70% top 30%;
        }
    }

    padding: 3rem 0 0;

    @include mixins.flex(null, flex-start, stretch);

    @include mixins.respond-to(laptop) {
        padding: 3rem 0 5rem;

        @include mixins.flex(column, center, center);
    }

    @include mixins.respond-to(mobile) {
        padding: 4rem 0 3rem;
    }
}

.education-path {
    padding: 5rem 0;

    position: relative;
    z-index: 2;

    flex-basis: 55%;
    display: grid;
    grid-template-columns: repeat(7, 14.5%);
    grid-template-areas:
        'b1 b1 . . . . .'
        '. . a1 a1 . . .'
        '. . . . b2 b2 .'
        '. . . a2 . . .'
        '. b3 b3 . . . .'
        '. . . a3 a3 . .'
        '. . . . . b4 b4';

    @include mixins.respond-to(desktop) {
        flex-basis: 40%;
        grid-template-columns: repeat(4, 25%);
        grid-template-areas:
            'b1 b1 . . '
            '. a1 . . '
            '. . b2 b2'
            '. . a2 .'
            'b3 b3 . .'
            '.  a3 . .'
            '. . b4 b4';
    }

    @include mixins.respond-to(laptop) {
        width: 90%;

        justify-content: center;
        grid-template-columns: repeat(7, 14.5%);
        grid-template-areas:
            'b1 b1 . . . . .'
            '. . a1 a1 . . .'
            '. . . . b2 b2 .'
            '. . . a2 . . .'
            '. b3 b3 . . . .'
            '. . . a3 a3 . .'
            '. . . . . b4 b4';
    }

    @include mixins.respond-to(tablet) {
        width: 100%;

        grid-template-columns: repeat(4, 20%);
        grid-template-areas:
            'b1 b1 . . '
            '. a1 . . '
            '. . b2 b2'
            '. . a2 .'
            'b3 b3 . .'
            '.  a3 . .'
            '. . b4 b4';
    }

    @include mixins.respond-to(mobile) {
        padding: 0 0 2rem;

        grid-template-columns: repeat(3, 28vw);
        grid-template-areas:
            'b1 b1 . '
            '.  a1 .'
            '. b2 b2 '
            '. a2 .'
            'b3 b3 .'
            '. a3 .'
            '. b4 b4';
    }
}

.education__block {
    position: relative;
    z-index: 3;
    aspect-ratio: 1;

    transition: var(--transition);

    font-size: var(--fs-medium-small);

    background-color: var(--color-primary-lighter);
    background-size: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow-white);

    &_inner {
        width: 100%;
        height: 100%;
        padding: 1rem;
        border-radius: var(--border-radius);
        transition: var(--transition);

        color: var(--color-dark-s);

        background-color: var(--color-white);
    }

    &_left {
        transform: rotate(-25deg);

        @include mixins.respond-to(mobile) {
            transform: rotate(-18deg);
        }

        &_inner {
            transform: rotate(25deg);
        }
    }

    &_right {
        transform: rotate(25deg);

        @include mixins.respond-to(mobile) {
            transform: rotate(18deg);
        }

        &_inner {
            transform: rotate(-25deg);
        }
    }

    &#block-1 {
        grid-area: b1;
    }

    &#block-2 {
        grid-area: b2;
    }

    &#block-3 {
        grid-area: b3;
    }

    &#block-4 {
        grid-area: b4;
    }

    &__institution {
        margin-bottom: 1rem;

        font-family: var(--ff-title);
        font-size: var(--fs-medium);
        color: var(--color-dark-m);
    }
}

.arrow {
    height: 1rem;

    position: relative;
    z-index: 1;

    @include mixins.respond-to(desktop) {
        height: 2rem;
    }

    @include mixins.respond-to(mobile) {
        height: 4rem;
    }

    &__img {
        min-width: 5rem;
        width: 100%;
        height: 7rem;

        transform: translateY(-2rem);
    }

    &_left {
        transform: scaleX(-1);
    }

    &#arrow-1 {
        grid-area: a1;
    }

    &#arrow-2 {
        grid-area: a2;
    }

    &#arrow-3 {
        grid-area: a3;
    }
}

.education-cats {
    position: relative;

    margin-top: 10rem;

    flex-basis: 45%;

    @include mixins.respond-to(desktop) {
        flex-basis: 60%;
    }

    @include mixins.respond-to(laptop) {
        width: calc(100vw * 0.9);
        margin-top: 1rem;
        padding-bottom: 4rem;

        flex-basis: 100%;
    }

    @include mixins.respond-to(mobile) {
        width: 100%;
        padding-bottom: 5rem;
    }

    &__laptop {
        width: 100%;
        height: 82%;

        position: relative;
        padding-top: 6.5%;

        @include mixins.flex(column, flex-start, center);

        background-image: url('@assets/images/laptop.png');
        background-size: 100% 100%;
        background-position: top center;
        background-repeat: no-repeat;

        @include mixins.respond-to(laptop) {
            height: calc(100vw * 1.1);

            background-position: center;
        }

        @include mixins.respond-to(mobile) {
            height: auto;

            transform: scaleX(1.15);

            background-image: url('@assets/images/laptop-mobile.png');
        }
    }

    &__speech {
        position: relative;
        z-index: 2;

        width: 45%;
        height: 40%;

        @include mixins.flex(column, center, center);

        @include mixins.respond-to(laptop) {
            width: calc(100vw * 0.4);
            height: calc(100vw * 0.4);
        }

        @include mixins.respond-to(mobile) {
            width: calc(100vw * 0.75);
            height: calc(100vw * 0.75);

            transform: scaleX(0.75) scaleY(0.85) translateY(-5%);
        }
    }

    &__video {
        position: relative;
        left: -5%;
        bottom: 17%;

        width: 60%;
        height: 50%;

        box-shadow: none;

        @include mixins.respond-to(laptop) {
            left: -4%;
            bottom: 15.5%;
        }

        @include mixins.respond-to(mobile) {
            top: calc(100vw * -0.38);
            left: -4.5%;
            transform: scaleX(0.81);

            width: 99%;
        }
    }

    &__description {
        position: absolute;
        bottom: 4rem;

        margin-left: 2rem;

        font-family: var(--ff-title);
        font-size: var(--fs-medium);
        color: var(--color-dark-s);
        font-weight: bold;

        @include mixins.respond-to(desktop) {
            bottom: 7%;
        }

        @include mixins.respond-to(laptop) {
            bottom: 0;
        }

        @include mixins.respond-to(mobile) {
            margin-left: 0;

            font-size: var(--fs-medium-small);
        }
    }
}
