@use '../utils/mixins';

.education {
    &-bg {
        background-color: var(--color-light);
        background-image: url('@assets/images/background-education.png');
        background-size: contain;
        background-position: left top;
        background-repeat: no-repeat;
    }

    padding: 3rem 0 0;

    @include mixins.flex(null, flex-start, stretch);
}

.education-path {
    padding: 5rem 0;

    position: relative;
    z-index: 2;

    flex-basis: 55%;
    display: grid;
    grid-template-columns: repeat(7, 14.5%);
    grid-template-areas:
        'b1 b1 . . . . .'
        '. . a1 a1 . . .'
        '. . . . b2 b2 .'
        '. . . a2 . . .'
        '. b3 b3 . . . .'
        '. . . a3 a3 . .'
        '. . . . . b4 b4';
}

.education__block {
    font-size: var(--fs-medium-small);

    background-color: var(--color-primary-lighter);
    background-size: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow-white);

    &_inner {
        width: 100%;
        height: 100%;
        padding: 1rem;

        border-radius: var(--border-radius);
        color: var(--color-dark-s);
        background-color: var(--color-white);
    }

    &_left {
        transform: rotate(-25deg);
        &_inner {
            transform: rotate(25deg);
        }
    }

    &_right {
        transform: rotate(25deg);
        &_inner {
            transform: rotate(-25deg);
        }
    }

    &#block-1 {
        grid-area: b1;
    }

    &#block-2 {
        grid-area: b2;
    }

    &#block-3 {
        grid-area: b3;
    }

    &#block-4 {
        grid-area: b4;
    }

    &__institution {
        margin-bottom: 1rem;

        font-family: var(--ff-title);
        font-size: var(--fs-medium);
        color: var(--color-dark-m);
    }
}

.arrow {
    height: 1rem;

    &__img {
        min-width: 5rem;
        width: 100%;
        height: 7rem;

        transform: translateY(-2rem);
    }

    &_left {
        transform: scaleX(-1);
    }

    &#arrow-1 {
        grid-area: a1;
    }

    &#arrow-2 {
        grid-area: a2;
    }

    &#arrow-3 {
        grid-area: a3;
    }
}

.education-cats {
    margin-top: 10%;
    padding-top: 3.5%;

    flex-basis: 45%;

    background-image: url('@assets/images/laptop.png');
    background-size: contain;
    background-repeat: no-repeat;

    @include mixins.flex(column, flex-start, center);

    &__speech {
        width: 45%;
        height: 32%;
        position: relative;

        @include mixins.flex(column, center, center);
    }

    &__video {
        width: 60%;

        position: relative;
        left: -5%;
        top: -13%;
    }

    &__description {
        margin-top: 6%;
        margin-left: 2rem;

        font-family: var(--ff-title);
        font-size: var(--fs-medium);
        color: var(--color-dark-s);
        font-weight: bold;
    }
}
