@use '../utils/mixins';

.error {
    overflow: hidden;
    background-color: var(--color-primary-lighter);

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    &__title {
        color: var(--color-dark-m);
        text-align: center;
    }

    &__link {
        margin: 2rem 0;
        padding: 1rem 2rem;
        border-radius: var(--border-radius);
        color: var(--color-white);
        font-size: var(--fs-medium);
        background-color: var(--color-primary);
    }

    &__img {
        height: 65svh;
    }
}
