@use '../utils/mixins';

.experience {
    overflow: hidden;
    background-color: var(--color-primary);
    background-size: cover;

    &__list {
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include mixins.respond-to(tablet) {
            padding: 2rem 0;
        }
    }
}

.experience-item {
    position: relative;
    width: 80%;
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: var(--color-light);

    @include mixins.respond-to(laptop) {
        min-height: 14rem;
    }

    @include mixins.respond-to(tablet) {
        width: 100%;
        min-height: auto;
        padding: 1rem;
        flex-direction: column;
    }

    &__img {
        width: 12rem;
        padding: 1rem;
        aspect-ratio: 1.4;
        border-radius: var(--border-radius);
        background-color: var(--color-primary-lighter);
        object-fit: cover;
    }

    &__details {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        @include mixins.respond-to(tablet) {
            width: 100%;
        }
    }

    &__profession {
        text-shadow: var(--text-shadow-dark);
        text-transform: uppercase;
        font-size: var(--fs-medium-big);
    }

    &__company {
        color: var(--color-dark-s);
        text-transform: uppercase;
        font-size: var(--fs-medium);
    }

    &__description,
    &__date {
        color: var(--color-dark-s);
        font-size: var(--fs-medium-small);
    }

    &__date {
        text-transform: capitalize;
    }
}
