@use '../utils/mixins';

.experience {
    &-bg {
        background-color: var(--color-primary);
        background-size: cover;
    }

    padding: 5rem 0;

    @include mixins.flex(column, flex-start, center);

    @include mixins.respond-to(tablet) {
        padding: 2rem 0;
    }
}

.experience__item {
    width: 80%;
    padding: 1rem 2rem;
    border-radius: var(--border-radius);

    @include mixins.flex(null, flex-start, center);
    gap: 2rem;

    background-color: var(--color-light);

    @include mixins.respond-to(desktop) {
        width: 68%;
    }

    @include mixins.respond-to(laptop) {
        min-height: 14rem;
    }

    @include mixins.respond-to(tablet) {
        width: 100%;
        min-height: auto;
        padding: 1rem;

        @include mixins.flex(column, center, center);
    }

    .item__img {
        width: 12rem;
        padding: 1rem;
        border-radius: var(--border-radius);

        background-color: var(--color-primary-lighter);
    }

    .item__details {
        width: 70%;

        @include mixins.flex(column, flex-start, null);
        gap: 0.3rem;

        @include mixins.respond-to(tablet) {
            width: 100%;
        }
    }

    .item__profession {
        text-shadow: var(--text-shadow-dark);
        font-family: var(--ff-title);
        text-transform: uppercase;
        font-size: var(--fs-medium-big);
    }

    .item__company {
        color: var(--color-dark-s);
        font-family: var(--ff-title);
        text-transform: uppercase;
        font-size: var(--fs-medium);
    }

    .item__description,
    .item__date {
        color: var(--color-dark-s);
        font-size: var(--fs-medium-small);
    }

    .item__date {
        text-transform: capitalize;
    }
}
