@use '../utils/mixins';

.portfolio {
    width: 100vw;
    background-color: var(--color-light);
}

.project {
    height: 100%;
    min-height: 60vh;
    padding: 3rem;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    color: var(--color-white);
    background-image: linear-gradient(
        to right,
        var(--color-dark-transparent) 40%,
        var(--color-dark-transparent-m) 60%
    );
    backdrop-filter: blur(5px);
    border-radius: var(--border-radius-l);

    @include mixins.respond-to(desktop) {
        flex-direction: column;
        gap: 2rem;
        background-image: linear-gradient(
            to bottom,
            var(--color-dark-transparent) 20rem,
            var(--color-dark-transparent-m) 28rem
        );
    }

    @include mixins.respond-to(laptop) {
        padding: 1rem;
    }

    &__img-container {
        width: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mixins.respond-to(desktop) {
            width: 30rem;
            height: 25rem;
            max-width: 100%;
            margin: 0 auto;
        }

        @include mixins.respond-to(mobile) {
            height: auto;
            aspect-ratio: 0.9;
        }
    }

    &__img-link {
        max-width: 60%;
        height: 60%;

        @include mixins.transitions();
        transition-property: transform;

        @include mixins.interactive() {
            z-index: 2;
            transform: scale(1.2);
        }

        &:only-child {
            @include mixins.respond-to(desktop) {
                max-width: 90%;
                height: auto;
            }
        }

        &:first-child:not(:only-child) {
            position: absolute;
            top: 0;
            left: 0;
        }

        &:nth-child(2):not(:only-child):not(:last-child) {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);

            @include mixins.interactive() {
                transform: translateX(-50%) scale(1.2);
            }
        }

        &:nth-child(2):not(:only-child):last-child {
            position: absolute;
            top: 40%;
            right: 0;
        }

        &:nth-child(3):not(:only-child) {
            position: absolute;
            top: 40%;
            right: 0;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__content {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-weight: bold;

        @include mixins.respond-to(desktop) {
            width: 100%;
        }
    }

    &__name {
        text-transform: uppercase;
    }

    &__type {
        font-size: var(--fs-medium-big);
        color: var(--color-light);
    }

    &__stack {
        font-size: var(--fs-medium);
    }

    &__link,
    &__description {
        font-size: var(--fs-medium-small);
        color: var(--color-light);
        font-family: var(--ff-text);
        text-align: justify;
    }
}
