@use '../utils/mixins';

.portfolio {
    &-bg {
        width: 100vw;
        background-color: var(--color-primary);
        text-shadow: var(--text-shadow-dark);
    }

    @include mixins.flex(null, center, center);
}
