@use '../utils/mixins';

.skills {
    &-bg {
        overflow-x: hidden;
        background-image: url('@assets/images/background-skills.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        @include mixins.respond-to(laptop) {
            background-image: url('@assets/images/background-skills-laptop.jpg');
            background-position: top center;
        }
        @include mixins.respond-to(mobile) {
            background-image: url('@assets/images/background-skills-mobile.jpg');
        }
    }

    padding: 2rem;

    @include mixins.flex(null, center, center);

    @include mixins.respond-to(mobile) {
        padding: 0;
    }

    &-cat__speech {
        position: relative;
    }

    &-cat__video {
        padding-top: 30%;
        width: 120%;

        @include mixins.respond-to(tablet) {
            padding-top: 40%;
            width: 150%;

            transform: translateX(-20%);
        }

        @include mixins.respond-to(mobile) {
            padding-top: 60%;
            width: 200%;

            transform: translateX(-20%);
        }
    }
}
