@use '../utils/mixins';

.cloud-move {
    animation: cloud-move 16700ms;

    @include mixins.respond-to(tablet) {
        animation: cloud-move-mobile 16700ms;
    }
}

@keyframes cloud-move {
    0% {
        scale: 0.5;
        left: 70%;
    }
    5% {
        left: 85%;
    }
    13% {
        scale: 1;
        left: 52%;
    }
    20% {
        left: 57%;
    }
    48% {
        left: 57%;
    }
    52% {
        left: 100%;
    }
    58% {
        left: 52%;
    }
    65% {
        left: 57%;
    }
    97% {
        scale: 1;
    }
    100% {
        left: 57%;
        scale: 0.5;
    }
}

@keyframes cloud-move-mobile {
    0% {
        scale: 0.5;
        left: 43%;
    }
    5% {
        left: 58%;
    }
    13% {
        scale: 1;
        left: 25%;
    }
    20% {
        left: 30%;
    }
    48% {
        left: 30%;
    }
    52% {
        left: 100%;
    }
    58% {
        left: 25%;
    }
    65% {
        left: 30%;
    }
    97% {
        scale: 1;
    }
    100% {
        left: 30%;
        scale: 0.5;
    }
}
