$breakpoints: (
    'desktop': (
        max-width: 1300px,
    ),
    'laptop': (
        max-width: 992px,
    ),
    'tablet': (
        max-width: 768px,
    ),
    'mobile': (
        max-width: 576px,
    ),
) !default;

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

@mixin flex($dir, $jus, $ali) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jus;
    align-items: $ali;
}

@mixin abs() {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin transitions() {
    @media screen and (pointer: fine) and (hover: hover) {
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
    }

    @media screen and (pointer: coarse) and (hover: none) {
        transition-duration: 0.1s;
        transition-timing-function: ease-in;
    }
}

@mixin interactive($element: null) {
    &:active #{$element} {
        @content;
    }

    @media screen and (pointer: fine) and (hover: hover) {
        &:hover #{$element} {
            @content;
        }
    }
}
